body {
  background-color: #282c34;
  text-align: center;
}

h1 {
  color: #61dafb;
  text-decoration: overline;
  font-size: 8ex;
}

.results {
  color: #61dafb;
  background-color: #222222;
  padding: 10px 12px;
  font-size: 48px;
  width: 350px;
  text-align: center;
  border-bottom-color: #61dafb;
  border-top-color: #61dafb;
  border-bottom-style: solid;
  border-top-style: solid;
  margin-bottom: 10px;
  font-family: Helvetica;
}

.show-results {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-number {
  color: #61dafb;
  background-color: #222222;
  padding: 10px 40px;
  border-width: 2px;
  border-style: solid;
  border-color: #61dafb;
  font-size: 4em;
  font-family: Helvetica;
}

.btn-number:hover {
  background-color: #61dafb;
  color: #222222;
  border-color: #222222;
}

.btn-operator {
  color: #61dafb;
  background-color: #222222;
  padding: 10.8px 40px;
  border-width: 2px;
  border-style: solid;
  border-color: #61dafb;
  font-size: 42px;
  font-family: Helvetica;
}

.btn-operator:hover {
  background-color: #61dafb;
  color: #222222;
  border-color: #222222;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.operations {
  display: flex;
  flex-direction: column;
}
